@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;

}



/* Hide the default slider appearance */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}
/* Styling the track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #56575a;
  height: 0.5rem;
  border-radius: 20%;
}
/* Styling the thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  margin-top: -0.25rem;
  background-color: #b2b4b9;
  height: 1rem;
  width: 1rem;
  border-radius : 50%;    
}
input[type="range"]::-moz-range-track {
  background: #56575a;
  height: 0.5rem;
  border-radius: 20%; 
}

/* Styling the thumb for Firefox */
input[type="range"]::-moz-range-thumb {
  appearance: none;
  margin-top: -0.25rem;
  background-color: #b2b4b9;
  height: 1rem;
  width: 1rem;
  border-radius : 50%;  
}

/* Optional: Style the value label */
input[type="range"]::after {
  content: attr(data-value);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #555353;
}

    .container {
      position: fixed;
      top: 4%;
      right: 10px;
      border-radius: 3%;
      padding: 1%;
      overflow: auto;
      display: none;
      align-items: center;
      text-align: left;
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.096);
      color: #cdd0d6;
      width : 20%;
      height : 45%;

    }
    .parameter-container{
      display: flex;
      flex-direction: column;
      color: #7A7C80;
      align-items: left;
      font-size: 14px;
      margin: 0 2%;
      padding : 10px
    }
    .gridsize-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width : 95%;
    border-top: 1% solid #7A7C80;
    border-bottom: 1% solid #7A7C80;
    }
    .animalWindow { color:#cdd0d6; padding:0px;
       overflow:auto;}
  UL.animalList, UL.animalList UL { padding-left:0%;}
  UL.animalList LI { list-style-type:none; position:relative; }
  UL.animalList LI.group > DIV {padding-top:0.2em; }
  UL.animalList LI.closed > UL { display:none; }
  UL.animalList LI.group > DIV:hover { background-color:#5f6063 !important; }
  UL.animalList LI.action:hover,
  UL.animalList LI.closed > DIV:hover { background-color:#5f6063  !important; }
  UL.animalList LI.action, UL.animalList LI.group > DIV { cursor:pointer; }
  UL.animalList LI.selected { background-color:#5f6063 ; color:#fff; }
  .arrow {
    background-image: url('downarrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    width : 20px;
    height : 20px;
  }
  .sideways {
    transform: rotate(270deg);
    /* Add any additional styles for the sideways arrow */
  }
    .play-controls {
      position: fixed;
      left: 50%;
      bottom: 3%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      height: 10%;
      width: 20%;
    }
      .play-controls button {
        margin: 5% 10%;
        width: 8vw; /* Use viewport width unit */
        height: 8vw; /* Use viewport width unit */
        max-width: 50px; /* Set a maximum width */
        max-height: 50px; /* Set a maximum height */
      }

      .parameter-buttons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-color: #7A7C80;
        border-radius: 10px;
        border-width: 1px;  
        border-style: solid;
        margin: 2px 5px;
        font-size: 10px
      }
      
      
      .parameter-buttons button {
        margin: 4px 4px;
        width: 2vw; /* Use viewport width unit */
        height: 2vw; /* Use viewport width unit */
        max-width: 12px; /* Set a maximum width */
        max-height: 12px; /* Set a maximum height */
      }
      
      .title-container{
        color: #cdd0d6;
      }
        

      
      .parameter-row {
        justify-content: space-between;
        display: flex;
        align-items : center;
        margin: 1% 0 ;
        color: #9c9fa5;
        font-size: 14px;
      }
      .parameter-sliders {
        margin: 2% 0 
      }

      .parameter-buttons-container{
        display: flex;
        align-items : center;
        justify-content: center;
      }
    
      .seed-input {
        background-color: transparent; /* Set the background color as transparent */
        border-color: #7A7C80;
        border-radius: 4px;
        border-width: 1px;  
        border-style: solid;
        margin : 2px 5px;
        color : #cdd0d6;
        width : 8%;
      }
      
  .pause-button,
  .play-button,
  .reset-button {
  background: none;
  border: none;
  width: 3vw; /* Use viewport width unit */
  height: 3vw; /* Use viewport width unit */
  max-width: 18px; /* Set a maximum width */
  max-height: 18px; /* Set a maximum height */
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.warning {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-image: url('warning.png'); /* Replace with the actual path to your warning image */
  background-size: cover;
  background-repeat: no-repeat;
  visibility: hidden;
  box-shadow: none;
  background-color: transparent;
  outline: none;
}

    .pause-button {
      background-image: url('pausebutton.png');
    }
    
    .play-button {
      background-image: url('startbutton.png');
    }
    
    .reset-button {
      background-image: url('restartbutton.png');
    }

      /* CSS for the menu */
      .menu {
        position: absolute;
        top: 10px;
        right: 10px;
      }
  
      
      .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu li {
        display: inline-block;
        margin-left: 10px;
      }
      
      .menu li a {
        color: #ffffff;
        text-decoration: none;
      }
      
      /* CSS for the containers */
      .seed-container{
        position: fixed;
        display : none;
        color : #cdd0d6;
        top: 3%;
        left: 2%;
      }

      .name-container{
        position: fixed;
        display : none;
        flex-direction: column;
        color : #cdd0d6;
        font-size: 24px;
        font : italic;
        padding : 2%;
      }

  
      .generate-button-container{
        align-items: center;
        justify-content: center;
        text-align: center;
        
      }

