@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #7A7C80;

}


:root {
  --destructive-foreground: 0 0% 100%;
  --secondary-foreground: 0 0% 100%;
  --popover-foreground: 0 0% 90%;
  --primary-foreground: 0 0% 100%;
  --accent-foreground: 0 0% 95%;
  --muted-foreground: 0 0% 80%;
  --card-foreground: 0 0% 88%;
  --destructive: 0 70% 50%;
  --background: 240 3% 10%;
  --foreground: 0 0% 95%;
  --secondary: 270 40% 40%;
  --popover: 240 3% 15%;
  --primary: 270 50% 50%;
  --border: 240 3% 55%;
  --accent: 270 30% 58%;
  --muted: 240 3% 24%;
  --input: 240 3% 42%;
  --card: 240 3% 18%;
  --ring: 270 50% 50%;
  --radius: 0.25rem;

  --row-margin : 4vh ;
  --col-margin : 4vh;
}

input[type="text"], textarea {
  outline: none;
}

/* Focus Effect */
input[type="text"]:focus, textarea:focus {
 /* Larger shadow extending further out */
}

 

/* Hide the default slider appearance */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  border: none;
  height: 0.8vh;
  border-radius: var(--radius);
}

/* Styling the track */
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent; /* Set to transparent for the gradient to show */
  height: 0.8vh;
  border: none;
  border-radius: var(--radius);
}

/* Styling the thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  margin-top: -0.25rem;
  background-color: hsl(var(--background));
  border : 1px solid hsl(var(--accent));
  border-radius: 50%;
  height: 2vh;
  width: 2vh;
}
input[type="range"]:focus::-webkit-slider-thumb {
  outline: hsl(var(--primary)) solid 2px; /* Focus outline */
}

/* Firefox styles */
input[type="range"]::-moz-range-track {
  background: transparent; /* Set to transparent for the gradient to show */
  height: 0.8vh;
  border: none;
  border-radius: var(--radius);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  margin-top: -0.25rem;
  background-color: hsl(var(--background));
  border : 2px solid hsl(var(--primary));
  border-radius: 50%;
  height: 1.75vh;
  width: 1.75vh;
}
input[type="range"]:focus::-moz-range-thumb {
  outline: hsl(var(--primary)) solid 2px; /* Focus outline */
}

input[type="range"]::-moz-range-progress {
  background-color: hsl(var(--primary)); 
}
input[type="range"]::-moz-range-track {  
  background-color: hsl(var(--secondary)); 
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: hsl(var(--primary)); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: hsl(var(--secondary)); 
}

#cluster-slider-range{
  width: 100%;
  margin : 0 2%;
  height: 0.8vh;
  border: none;
  border-radius: var(--radius);
  background-color: hsl(var(--secondary)); 
}

#cluster-slider-range  .ui-slider-range{
  background: hsl(var(--primary));  
  width: 100%;
  border: none;
  border-radius: var(--radius);
  }

#cluster-slider-range  .ui-slider-handle{
  appearance: none;
  background-color: hsl(var(--background));
  border : 2px solid hsl(var(--primary));
  height: 2vh;
  width: 2vh; 
  border-radius: 50%;
}
#cluster-slider-range:focus .ui-slider-handle{
  outline: none;

}

.animalWindow { 
  display: none;
  top: 10%;
  height: calc(100% - 2*2vh);
  width : calc(100% - 2*2vh);
  color:#cdd0d6; padding:0px;
  overflow:auto;
  box-sizing: border-box;
  margin : 2vh


}


  UL.animalList, UL.animalList UL { padding-left:0%;}
  UL.animalList LI { list-style-type:none; position:relative; }
  UL.animalList LI.group > DIV {padding-top:0.2em; }
  UL.animalList LI.closed > UL { display:none; }
  UL.animalList LI.group > DIV:hover { background-color: hsl(var(--primary)) !important; }
  UL.animalList LI.action:hover,
  UL.animalList LI.closed > DIV:hover { background-color:  hsl(var(--primary))  !important; }
  UL.animalList LI.action, UL.animalList LI.group > DIV { cursor:pointer; }
  UL.animalList LI.selected { background-color:#5f6063 ; color:#fff; }
  .arrow {
    position: absolute;
    right: 1vw;
    background-image: url('downarrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    height : 2vh;
    aspect-ratio: 1;
  }



  .sideways {
    transform: rotate(270deg);
    /* Add any additional styles for the sideways arrow */
  }
.simulation {
    position: relative;
    border: 1px solid #7A7C80;
    border-radius: 2%;
    width: auto;  
    aspect-ratio: 1;
}
.bottom-bar{
  position: relative;
  width: 100%;
  height: var(--row-margin);
  display: flex;
  justify-content: center;  /* Horizontal centering */
  
}



.play-controls-topbar {
  height: 100%;
  width: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;

}

.play-controls {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  
  }
  
.play-controls-topbar button,
.play-controls-topbar input {
  width: 22px;
  min-width : 22px;
  height: 22px;
  margin: 5px 10px;
  padding-right: 10px;
  border-radius: 50%;
  outline: 3px solid transparent;
}

.play-controls-topbar button:hover,
.play-controls-topbar input:hover {
  background-color: hsl(var(--card));
  outline-color: hsl(var(--card));
  transition: 0.3s;
}

.play-controls button,
.play-controls input {
  height: 5vh;
  aspect-ratio: 1;
  margin: 1% 5%;
  border-radius: var(--radius);
  outline: 3px solid transparent;
}

.play-controls button:hover,
.play-controls input:hover {
  background-color: hsl(var(--card));
  outline-color: hsl(var(--card));
  transition: 0.3s;
}
    .parameter-button-container{
        display: flex;
        flex-direction: row;
        margin-left : auto;
        text-align: center ;
        align-items: center;
        justify-content: center;
        font-weight : normal;

      }

      .parameter-buttons {
        position: relative;
        top:0;
        right:0%;
        display: flex;
        flex-direction : row;
        align-items: center;
        justify-content: center;
        text-align: center;
        border : 1px solid hsl(var(--border));
        border-radius: var(--radius);
        margin: 0 0.25vh;
        margin-left: 1ch;
    }
    .parameter-buttons button{
      margin: 0 0.25vh;
      height: 2vh; ;
      aspect-ratio: 1;
      margin: 0.25vh 0.5vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      border-radius: 50%;
    }
    
    

  .menu-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    align-items: center;
    z-index: auto;
  }

  .menu-cont {
      background-color: hsl(var(--card));
      border-radius: var(--radius);
      border: 2px solid hsl(var(--border));
      display: flex; /* Enables Flexbox */
      flex-direction: column;
  }

  .menu-topbar{
    display: flex;
    position: relative;
    
  }
  .sim-topbar{
    position: absolute;
    height: var(--row-margin);
    width: 100%;
    display: flex;
    align-items: center; 
    flex-direction: row-reverse;
    z-index: 1000 ;
    
  }

  .simulation-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    align-items: center;
    height: 100%;
    width: auto;
  }



  .row-main{
    flex-direction: row;
  }
  .col-main{
    flex-direction: column-reverse;
    align-items: center;        /* Center items vertically */
    justify-content: center;    /* Center items horizontally */
  }



  .row-main .menu-container {
    margin: 0;
    height: 100%;
    aspect-ratio: 0.875;
  }

  .row-main .menu-cont{
    margin-top : 0;
    height: calc(100% -  var(--row-margin));
    width: calc(100%);
    border-radius: 0;
    border : 0;
    border-right : 1px solid hsl(var(--border));
  }
  .row-main .menu-topbar{
    margin : 0 var(--row-margin);
    width : calc(100%);
    height : var(--row-margin);
    background-color: hsl(var(--card));
    border-right: 1px solid hsl(var(--border));
  }

  .row-main .simulation-container {
    max-width: 100vh;
  }
  .row-main .simulation{
    margin : calc(var(--row-margin) / 2);
    height: calc(100vh - 32px - 1 * var(--row-margin));
    width: calc(100vh - 32px 1 * var(--row-margin));
    border : 1px solid hsl(var(--border));
    border-radius: var(--radius);
  }
  .row-main .bottom-bar{
    display: none;
  }


  .col-main .menu-container {
    aspect-ratio: 0.875;
    margin:0;
  }
  .col-main .menu-cont{
    margin : var(--col-margin);
    margin-top : 0;
    height: calc(100% - 2 * var(--col-margin));
    width: calc(100vh - 32px - 1 * var(--col-margin));
  }

  .col-main .menu-topbar{
    margin : 0 var(--col-margin);
    width : calc(100% - 2 * var(--col-margin));
    height : var(--col-margin);
  }

  .col-main .simulation-container {
    margin : 0 var(--col-margin);
    height: calc(100vh - 32px );
    width: 100%;


  }
  .col-main .simulation{
    border:none;
    height: calc(100vh - 1 * var(--col-margin));
    width: calc(100%);
  }
  .col-main .sim-topbar{
    position: absolute;
    margin : 0 var(--col-margin);
    height :100%;
  }
  .col-main .bottom-bar{
    position : absolute;
    bottom: var(--col-margin);
    width: 100%;
    height: var(--col-margin);}








      
      .title-container{
        color: #cdd0d6; 
      }
      .label{
        margin-bottom : 0;
      }
      .paras-label{
        position: relative;
        display: flex;
        height: 80%;
        left:0;
        margin-left:2%;
        margin-right:2%;
        margin-bottom : 0;
        align-items: center;
        width: 4ch;
        border-right: 2px solid hsl(var(--border));
      }

      .input{
        width:20%;
      }



      
      .parameter-row {
        justify-content: flex-start;
        display: flex;
        align-items : center;
        margin: 1% 0 ;
        font-size : 1.75vh;
        text-align: center;
        width:100%;
        height : 3vh;
        flex-direction: row;
      }
      .time-container{
        position: relative;
        width : 100%;
        margin: 1% 0 ;
      }


      .growth-container{
        position: relative;
        width : 100%;
      }
      .kernel-container{
        position: relative;
        left: 4%; 
        width : 96%;
      }

      .beta-container{
        position: relative;
        left: 0;
        margin :0;
        width: 100%;
        padding:0;
    }

    .generate-button{
      align-items: center;
      position: relative;
      width: 80%;
      height: 4vh;
      margin: 0.25vh 10%;
      background-color: hsl(var(--primary));
      border-radius: var(--radius);
      border: 1px solid hsl(var(--border));
      color : hsl(var(--foreground));
      font-size: 2.25vh;
    }
    .switch-button-container{
      position: relative;
      height: 32px;
      font-size : 1.5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin : 1%;
      margin-left: auto;

    }
    .switch-button{ 
      position: relative;
      margin : 0 2%;

    }

    .button {
      background-color: hsl(var(--primary));
      color: hsl(var(--foreground));
      border : none;
      transition: background-color 0.3s;
      
    }

    .button-dark {
      background-color: hsl(var(--card));
      color: hsl(var(--foreground));
      border : none;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: hsl(var(--secondary));;
    }
    .button-dark:hover {
      background-color: hsl(var(--secondary));;
    }


      .subheader{
        position: relative;
        width:100%;
        top:0;
        height:auto;
        font-size: 1.5vh;
        margin : 0;
        margin-bottom : 1%;
        align-items: center;
        display: flex;
        text-align: left;
        font-weight: bold ;
      }

      .subheader-label{
        position: relative;
        width: auto;
        height: auto;
        margin : 1% 0%;
        font-weight: bold;
        color : hsl(var(--foreground));
      }
      .subheader-label .sub-text{
        position: relative;
        width: auto;
        height: 100%;
        font-size : 0.75rem;
        font-weight:lighter;
      }
      .parameter-button-label{
        display: flex;
        position: relative;
        right: 0;
        margin : 0;
        margin-left: auto;
        font-weight: bold;
        color : hsl(var(--foreground));
      }

    



    .para-input {
      position: relative;
      right:0;
      height:3vh;
      max-height:100%;
      border-radius: var(--radius);
      border: 1px solid hsl(var(--border));
      background-color: hsl(var(--background));
      color: #cdd0d6;
      margin-left: 2%;
      margin-right: 2%;
      box-sizing: border-box; /* Ensure padding is included in the width and height */
      font-size: 2.25vh;
      width: 4ch

  }




  .genRangeInputContainer {
    display: flex;
    position: relative;
    right:0;
    margin : 0 2% ;
    flex-direction: row;
    overflow: hidden;
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    box-sizing: border-box;
    height:100%;
    width: auto; /* Let the container grow as needed */
    transition: border-color 0.3s, box-shadow 0.3s; /* Add transition for smooth highlight */
    min-width : 15ch;
  }

  .genRangeInputContainer:focus-within {
    outline: hsl(var(--primary)) solid 2px; /* Larger shadow extending further out */
}

  .genRangeInputContainer input {
    width: 5ch;
    border: none;
    outline: none;
    box-sizing: border-box;
    -moz-appearance: textfield;
    appearance: textfield;
    box-sizing: border-box;

  }




  .para-input::-webkit-outer-spin-button,
.para-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.para-input[type="number"] {
    -moz-appearance: textfield;
}

  .pause-button,
  .reset-button {
  background: none;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.warning {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-image: url('warning.png'); /* Replace with the actual path to your warning image */
  background-size: cover;
  background-repeat: no-repeat;
  visibility: hidden;
  box-shadow: none;
  background-color: transparent;
  outline: none;
}

    .pause-button {
      background-image: url('pausebutton.png');
    }
    .play-button {
      cursor: pointer;
      align-items: center;
      justify-content: center;
      height: auto;
      width: auto;
      display: flex;
      flex-direction: row;
      height: 5vh;
      aspect-ratio: 1;
      margin: 1% 5%;
      border-radius: var(--radius);
      outline: 3px solid transparent;
      
    }
    .play-button:hover {
      background-color: hsl(var(--card));
      outline-color: hsl(var(--card));
      transition: 0.3s;
    }
    .play-button img{
      width: 5vh;
      height: 5vh;
    }


    .play-button-checkbox:checked + .play-button-image {
      content: url('pausebutton.png'); /* Change image on checkbox check */
    }
    
    /* Ensure the image is not treated as a block element */
    .play-button-image {
      display: inline-block; /* Ensure the image can be clicked */
      pointer-events: none; /* Ensures image does not block the label click */
    }

    .play-button-topbar{
      cursor: pointer;
      align-items: center;
      justify-content: center;
      height: auto;
      width: auto;
      display: flex;
      flex-direction: row;
      border-radius: 50%;
      height: 22px;
      aspect-ratio: 1;
      margin: 5px 10px;
      outline: 3px solid transparent;
    }
    .play-button-topbar img{
      width : 22px;
      height: 22px;
    }
    .play-button-topbar :hover{
      background-color: hsl(var(--card));
      outline-color: hsl(var(--card));
      transition: 0.3s;

    }
        
    .reset-button {
      background-image: url('restartbutton.png');
      
    }

      /* CSS for the menu */
      .menu {
        position: absolute;
        top: 10px;
        right: 10px;
      }
  
      
      .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu li {
        display: inline-block;
        margin-left: 10px;
      }
      
      .menu li a {
        color: #ffffff;
        text-decoration: none;
      }

  
      
      /* CSS for the containers */
      .seed-container{
        position: absolute;
        display : block;
        color : #cdd0d6;
        top: 0%;
        left: 2%;
        width:auto;
        height:100%;
      }

      .counter-container{
        display: flex;
        position: relative;
        bottom: 0;
        left: 0; 
        color : #cdd0d6;
        width:auto;
        height: var(--row-margin);
        margin: 0 2%;
        flex-direction: row;
        margin-left: auto;
      }

      .subcounter-container{
        position: relative;
        display: flex;
        color : #cdd0d6;
        width : 4ch;
      }
    

      .name-container{
        position: absolute;
        display: flex;  ;
        flex-direction: column;
        font-size: 3vh;
        font : italic;
        padding : 2%;
        top: 4%;
        left: 8%;
        color : hsl(var(--popover-foreground));
      }



    #submenus
    .parameter{
      display: flex;
      flex-direction: column;
      color: #7A7C80;
      align-items: left;
      font-size: 14px;
      margin: 0 2%;
      padding : 10px;
      top : 10%;
      left : 0;
      width : 32.36%;
      height : 20%;
    }
    .generate{
      top : 0;  
      left : 0;
      height: 750px;
      width: 741.65px;
      margin: 24px;
    }


  

    .container{
      display: none;
        position: relative;  /* Changed from relative to absolute */     /* Center the element */
        margin: 0.75vh 2%;           /* Remove margin to avoid any offsets */
        width: 96%;
        font-size : 2rem;
        color: hsl(var(--foreground));
        border-top : 2px solid hsl(var(--border));
        /*
        border-radius: var(--radius);
        border: 1px solid hsl(var(--border));
        */
    }
    .switch-container{
      position: absolute;
      right:0;
      margin: 1% 0;
      width : 4vw;
      height: 80%;
      margin : 0.5%;
    }
    .subcontainer{
      margin : 0;
      padding : 0;
      width: 100%; 
    }


    .generateswitch {
      display: flex;
      padding: 0.75vh 1vh;
      font-size: 4vh;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .seed-input{
    position: relative;
    width :100%;
    height: 5vh;
    max-height:90%;
    display: block;
    box-sizing: border-box; /* Ensure padding is included in the width and height */
    border-radius: var(--radius);
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    margin: 1%;
  }



  .subelement{
    display : block;
    position: relative;
    height : 100%;
    left: 2%;
    width: 98%;
    margin :0;
    padding :0;
    justify-content: center;

  }


 


    .submenu {
        display: none;
        /* Additional styling for looks */
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: 5px;
    }
    
    /* When active, the submenu is visible */
    .active-submenu {
        display: block;
    }
    .text {
    display: none;
    font-size: 18px;
    white-space: nowrap;
    margin-left: 10px;
}



.main { 
  display: flex;
  position: relative;
  top: 32px;
  left: 0;
  overflow: auto;

}






  .sidebar {
  
    position: fixed;
    top: 31px;
    bottom: 0;  
    left: 0;
    background: #121212;
    z-index: 1000;
    width: auto;
    overflow-x : hidden;
    overflow-y:auto;
    border-right : 1px solid hsl(var(--border));  
  }


  .nav-icon {
    width: 22px;
    height: 22px;
    border-radius: var(--radius);
    transition: transform 0.3s ease;
    background-color: white;
  }

  .nav-link {
    padding-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .nav-link-text {
    display: flex;
    opacity: 1; /* Fade to fully opaque */
    margin-left: 10px;
    font-size: 16px;
    white-space: nowrap;
    color: #cdd0d6;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
  }

  .nav-item{
      display:flex;
      padding:0;
      margin:0;
      width:auto;
      height: 50px;
  }
  .nav-item.active .nav-link {
    background-color: #e0e0e0; /* Highlight active item */
  }
  .sidebarmenu:hover .nav-link-text {
      width: auto;
  }

  .initialised {
    transition-property: left, width;
    transition-duration: 0.3s;
    transition-delay: 0s;
}


  @keyframes toggle {
    0% {
      visibility: visible;
      opacity: 1;
    }
    75% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
  .sidebarmenu{
    display: block;
    position: relative;
    padding:0;
    margin:0;
    align-items: center;
    left:0;
    top : 0;
    width: 0px;
    height:280px; 
  } 


  .nav-icon:hover {
    transform: scale(1.1)
  }

  .centrepoint{
      position:absolute;
      width:2px;
      top : 0;
      bottom: 0;
      background-color: white;
      z-index: 1000;
  }

  .wrapper{
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }

  .topbar {
    padding-left: 2px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    display: flex; /* Use flexbox to align children horizontally */
    align-items: center; /* Align children vertically in the center */
    border-bottom : 1px solid hsl(var(--border));
    background-color: #121212;
    z-index: 1000000;
}

.sidebar-collapse-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    height: 27px; 
    width: 27px;
    margin: 2px 4px;
    transition: background-color 0.3s;
}

.sidebar-collapse-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    background-color: #1e2225;
    border-radius: 15%;
}

.sidebar-collapse-container:hover {
    background-color: #8040BF;
}

.sidebar-collapse-button:active {
    background-color: #1e2225;
}

.topbar-text {
    display: inline-block;
    padding: 7px 8px;
    color: #F2F2F2;
}
  .reduced {
    width: 41px
  }
  .reduced .nav-link-text {
    opacity: 0; /* Fade to fully transparent */
    visibility: hidden;
  }

  .collapsed {
    width: 0px;
    visibility: hidden;
  }
  .open {
    width: 140px;
    visibility: visible;
  }
  .main-collapsed{
    left: 41px;
  }

  .sidebar-width-reduce-animation {
    animation: toggle 0.8s linear 0s backwards;
  }


  .palette-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
    grid-template-rows: repeat(2, 1fr); /* 2 rows of equal height */
    gap: 10px; /* Optional: adds space between the grid items */
    width: calc(2 * 2vh);
    height: calc(2 * 2vh);
    border: 1px hsl(var(--border)) solid;
    border-radius: var(--radius);
  }

  .canvas{
    position: absolute;
    display:none;
    width: 100%;
    height: 100%;
  }

  .time-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align : center;
    width: 100%;
    height: 100%;
  }
  .time-bar button {
    margin: 0 2%;
    height: 2vh;
    font-size: 1.5vh;
    padding: 2%;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .time-bar-active{
    background-color: hsl(var(--accent));
    color: hsl(var(--foreground));
  }

  .topbar-right-align{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align : center;
    margin-left: auto;
  }

  .time-bar .active{
    background-color: hsl(var(--accent));
    color: hsl(var(--foreground));
  }